@import "../variables.scss";

.btn {
  display: inline-block;
  height: 50px;
  width: 152px;
  font-family: "Nunito Sans";
  font-weight: 700;
  font-size: 18px;
  background-color: $primary-color;
  color: #000;
  border-radius: 8px;
  border: none;
  outline: none;
  margin: 0;
  padding: 10px 10px;
  cursor: pointer;
  letter-spacing: 1px;

  &--normal {
    background-color: #fff;
    color: #000;
    position: absolute;
    top: 85%;
    right: 15%;
  }

  &--low {
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 10%;
    left: 10%;
    font-size: 16px;
  }

  &--bannerL {
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 5%;
    left: 5%;
    font-size: 16px;
  }

  &--bannerR {
    background-color: #fff;
    color: #000;
    position: absolute;
    bottom: 5%;
    right: 5%;
    font-size: 16px;
  }

  &--join {
    background-color: #fff;
    width: max-content;
    padding: 10px 40px;
  }

  &--KOLs {
    width: max-content;
    padding: 10px 40px;
  }
}
